<div class="footer">
  <ul>
    <li><a href="http://www.wunderground.com/?apiref=e695176c45dc6f8f" target="_blank">Weather API: Wunderground</a></li>
    <li><a href="http://developers.500px.com/" target="_blank">Photos from 500px.com</a></li>
  </ul>
</div>
