<div class="row">
  <div class="small-12 columns">
    <i class="icon-sun2"></i>
    <i class="icon-sunrise"></i>
    <i class="icon-sun"></i>
    <i class="icon-moon"></i>
    <i class="icon-sun2"></i>
    <i class="icon-windy"></i>
    <i class="icon-wind"></i>
    <i class="icon-snowflake"></i>
    <i class="icon-cloudy"></i>
    <i class="icon-cloud"></i>
    <i class="icon-weather"></i>
    <i class="icon-weather2"></i>
    <i class="icon-weather3"></i>
    <i class="icon-lines"></i>
    <i class="icon-cloud2"></i>
    <i class="icon-lightning"></i>
    <i class="icon-lightning2"></i>
    <i class="icon-showers"></i>
    <i class="icon-rainy"></i>
    <i class="icon-windy2"></i>
    <i class="icon-windy-rain"></i>
    <i class="icon-snowy"></i>
    <i class="icon-snowy2"></i>
    <i class="icon-snowy3"></i>
    <i class="icon-weather4"></i>
    <i class="icon-cloudy2"></i>
    <i class="icon-cloud3"></i>
    <i class="icon-lightning3"></i>
    <i class="icon-sun3"></i>
    <i class="icon-moon2"></i>
    <i class="icon-cloudy3"></i>
    <i class="icon-cloud4"></i>
    <i class="icon-cloud5"></i>
    <i class="icon-lightning4"></i>
    <i class="icon-rainy3"></i>
    <i class="icon-rainy4"></i>
    <i class="icon-windy4"></i>
    <i class="icon-windy5"></i>
    <i class="icon-snowy4"></i>
    <i class="icon-snowy5"></i>
    <i class="icon-weather5"></i>
    <i class="icon-cloudy4"></i>
    <i class="icon-lightning5"></i>
    <i class="icon-none"></i>
    <i class="icon-Celsius"></i>
    <i class="icon-Fahrenheit"></i>
    <i class="icon-location"></i>
    <i class="icon-settings"></i>
    <i class="icon-search"></i>
  </div>
</div>
