<div class="forcast">
  <ul class='inline-list right'>
    {{#each day in days}}
      <li>
        <div class="label round">
          {{day.date.weekday_short}}
        </div>
        {{icon-name day.icon}}
        <span class="text-center">high {{day.high.fahrenheit}}</span>
        <span class="text-center">low {{day.low.fahrenheit}}</span>
      </li>
    {{/each}}
  </ul>
</div>
