<div class="current-details">
  <div class="temp-date">
    <div class="temp">
      {{weather.tempF}}
      &deg;
    </div>
    <div class="display-date">
      {{displayDate}}
    </div>
  </div>
  <div class="icon-wind">
    <div class="large-icon">
      {{icon-name weather.icon}}
    </div>
    <div class="text-center">
      {{weather.windGustMph}}mph
    </div>
  </div>
</div>
