<ul class='inline-list right'>
  {{#each days}}
    <li>
      <div class="label round">
        {{date-formatter time}}
      </div>
      {{icon-name icon}}
      <span class="high"><small>high</small> {{whole-number temperatureMax}}&deg;</span>
      <span class="low"><small>low</small> {{whole-number temperatureMin}}&deg;</span>
    </li>
  {{/each}}
</ul>
