<div class="current-details">
  <div class="temp-date">
    <div class="temp">
      {{location.tempF}}
      &deg;
    </div>
    <div class="display-date">
      {{displayDate}}
    </div>
  </div>
  <div class="icon-wind">
    <div class="large-icon">
      {{icon-name location.icon}}
    </div>
    <div class="text-center">
      {{location.windGustMph}}mph
    </div>
  </div>
</div>