<ul class='no-bullet'>
  {{#each days as |forecast|}}
    <li>
      <div class="label round">
        {{date-formatter forecast.time}}
      </div>
      {{icon-name forecast.icon}}
      <span class="high"><small>high</small> {{whole-number forecast.temperatureMax}}&deg;</span>
      <span class="low"><small>low</small> {{whole-number forecast.temperatureMin}}&deg;</span>
    </li>
  {{/each}}
</ul>
