<ul class='inline-list right'>
  {{#each days}}
    <li>
      <div class="label round">
        {{date-formatter time}}
      </div>
      {{icon-name icon}}
      <span class="text-center">high {{temperatureMax}}&deg;</span>
      <span class="text-center">low {{temperatureMin}}&deg;</span>
    </li>
  {{/each}}
</ul>
