<div class="weather-vane">
  <div class="circle">
    <div class="arrow"></div>
  </div>
  <div class="text">
    {{windDegrees}}&deg;
    <span class='speed'>
      {{windGust}}mph
    </span>
  </div>
</div>
