@font-face {
  font-family: 'icomoon';
  src:url('/assets/fonts/icomoon.eot');
  src:url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf') format('truetype'),
    url('/assets/fonts/icomoon.woff') format('woff'),
    url('/assets/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 50px;
  padding: 10px;
  float: left;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// icons based off wunderground gifs

.icon-chanceflurries:before {
  content: "\e621";
}
.icon-chancerain:before {
  content: "\e60e";
}
.icon-chancesleet:before {
  content: "\e621";
}
.icon-chancesleet:before {
  content: "\e621";
}
.icon-chancesnow:before {
  content: "\e621";
}
.icon-chancetstorms:before {
  content: "\e60d";
}
.icon-clear:before {
  content: "\e613";
}
.icon-flurries:before {
  content: "\e622";
}
.icon-fog:before {
  content: "\e629";
}
.icon-hazy:before {
  content: "\e629";
}
.icon-mostlycloudy:before {
  content: "\e60b";
}
.icon-mostlysunny:before {
  content: "\e604";
}
.icon-partlysunny:before {
  content: "\e60a";
}
.icon-rain:before {
  content: "\e60f";
}
.icon-sleet:before {
  content: "\e623";
}
.icon-snow:before {
  content: "\e622";
}
.icon-sunny:before {
  content: "\e613";
}
.icon-tstorms:before {
  content: "\e612";
}
.icon-cloudy:before {
  content: "\e60b";
}
.icon-partlycloudy:before {
  content: "\e60a"; 
}