.search{
  @include grid-row;
  margin-top: 50px;
  .twitter-typeahead {
    @include grid-column($columns:9, $collapse:true);
    margin-bottom: 0;
    border-radius: 4px 0 0 0;
    input {
      margin-bottom: 0;
      border-radius: 4px 0 0 0;
    }
  }
  button {
    @include button($padding: rem-calc(10));
    @include grid-column($columns:3);
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
    border-radius: 0 4px 0 0;
  }
}
.typeahead,
.tt-query,
.tt-hint {
  height: 30px;
  padding: 8px 15px !important;
  font-size: 24px;
  line-height: 30px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  color: black;
  width: 422px;
  margin-top: 0px;
  padding: 8px 0;
  background-color: rgba(#fff, 0.8);
  border-radius: 0 0 4px 4px;
}

.tt-suggestion {
  padding: 3px 15px;
  // font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

