.search{
  @include grid-row;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  .twitter-typeahead {
    @include grid-column($columns:6, $collapse:true, $center:true);
    margin-bottom: 0;
    border-radius: 4px;
    float: none !important;
    @media #{$small-only} {
      @include grid-column($columns:10, $collapse:true, $center:true);
    }
    input {
      margin-bottom: 0;
      border-radius: 4px;
      background-color: #333 !important;
      border: 1px solid darken(#333, 4%) !important;
      color: #fff;
      font-size: 26px;
      font-weight: 100;
      height: 50px;
      @media #{$small-only} {
        font-size: 18px;
      }
      .top-bar & {
        top: 0;
        height: 34px;
        background-color: #555 !important;
        border: 1px solid darken(#555, 4%) !important;
        color: #eee;
        font-size: 16px;
        font-weight: 400;
      }
    }
    .top-bar & {
      @include grid-column($columns:12, $collapse:true, $center:false)
    }
  }
  button {
    @include button($padding: rem-calc(10));
    @include grid-column($columns:3);
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
    border-radius: 0 4px 0 0;
  }
  .top-bar & {
    width: 350px;
    max-width: inherit;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: right;
    padding-right: 20px;
  }
}
.typeahead,
.tt-query,
.tt-hint {
  height: 30px;
  padding: 8px 15px !important;
  font-size: 24px;
  line-height: 30px;
  outline: none;
}

.typeahead {
  background-color: #333 !important;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  color: black;
  width: 100%;
  margin-top: 0px;
  padding: 8px 0;
  background-color: #ddd;
  border-radius: 0 0 2px 2px;
  text-align: left;
}

.tt-suggestion {
  padding: 3px 15px;
  // font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
  @media #{$small-only} {
    font-size: 15px;
  }
}

