$width: 70px;
$height: 70px;
$arrow-length: 20px;
$arrow-width: 5px;
$gray: #eee;
$border: 4px;

.weather-vane {
  margin-top: 50px;
  position: relative;
  width: $width;
  margin-left: auto;
  margin-right: auto;
  .text {
    position: absolute;
    top: 26px;
    left: 0;
    width: $width;
    height: $height;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: helvetica;
    .speed {
      font-size: 80%;
    }
  }
  .circle {
    position: relative;
    width: $width;
    height: $height;
    border: $border solid #ddd;
    border-radius: 999px;
    background: #333;
    transform: rotate(300deg);
    -webkit-transform:rotate(130deg);
  }

  .arrow {
    position: absolute;
    top: -28px;
    right: 35px;
    height: 0px;
    border: $arrow-width solid transparent;
    display:inline-block;
    border-bottom-color: $gray;
    border-bottom-width: $arrow-length;
    transition: transform 2s;
    -webkit-transition: transform 2s; /* Safari */
  }

  .arrow:hover{
    transform:rotate(360deg);
      -ms-transform:rotate(360deg); /* IE 9 */
      -webkit-transform:rotate(360deg); /* Safari and Chrome */
  }

}
