// foundation settings
@import "settings";


// @import "../../../vendor/foundation/scss/foundation/components/accordion";
// @import "../../../vendor/foundation/scss/foundation/components/alert-boxes";
@import "../../../vendor/foundation/scss/foundation/components/block-grid";
// @import "../../../vendor/foundation/scss/foundation/components/breadcrumbs";
// @import "../../../vendor/foundation/scss/foundation/components/button-groups";
@import "../../../vendor/foundation/scss/foundation/components/buttons";
@import "../../../vendor/foundation/scss/foundation/components/clearing";
@import "../../../vendor/foundation/scss/foundation/components/dropdown";
// @import "../../../vendor/foundation/scss/foundation/components/dropdown-buttons";
// @import "../../../vendor/foundation/scss/foundation/components/flex-video";
@import "../../../vendor/foundation/scss/foundation/components/forms";
@import "../../../vendor/foundation/scss/foundation/components/grid";
@import "../../../vendor/foundation/scss/foundation/components/inline-lists";
// @import "../../../vendor/foundation/scss/foundation/components/joyride";
// @import "../../../vendor/foundation/scss/foundation/components/keystrokes";
@import "../../../vendor/foundation/scss/foundation/components/labels";
// @import "../../../vendor/foundation/scss/foundation/components/magellan";
// @import "../../../vendor/foundation/scss/foundation/components/orbit";
// @import "../../../vendor/foundation/scss/foundation/components/pagination";
@import "../../../vendor/foundation/scss/foundation/components/panels";
// @import "../../../vendor/foundation/scss/foundation/components/pricing-tables";
// @import "../../../vendor/foundation/scss/foundation/components/progress-bars";
// @import "../../../vendor/foundation/scss/foundation/components/reveal";
@import "../../../vendor/foundation/scss/foundation/components/side-nav";
@import "../../../vendor/foundation/scss/foundation/components/split-buttons";
// @import "../../../vendor/foundation/scss/foundation/components/sub-nav";
// @import "../../../vendor/foundation/scss/foundation/components/switch";
// @import "../../../vendor/foundation/scss/foundation/components/tables";
@import "../../../vendor/foundation/scss/foundation/components/tabs";
@import "../../../vendor/foundation/scss/foundation/components/thumbs";
@import "../../../vendor/foundation/scss/foundation/components/tooltips";
@import "../../../vendor/foundation/scss/foundation/components/offcanvas";
@import "../../../vendor/foundation/scss/foundation/components/visibility";
