app/templates/static/honolulu.hbs

<h1>Welcome To Honolulu</h1>








































































{{!-- 
app/templates/static/honolulu.hbs

<h1>Welcome To Honolulu</h1> --}}