app/templates/static/seattle.hbs
<h1>Welcome To Seattle</h1>












































































{{!-- 
app/templates/static/seattle.hbs
<h1>Welcome To Seattle</h1>
 --}}