<nav>
  <div class="title-area">Ember Weather</div>
</nav>

<div class="main">
  Application
  {{outlet}}
</div>







































































{{!--
<h1>Hello Ember</h2>

<ul class="inline-list">
<li>
    {{#link-to "static.seattle"}}Seattle{{/link-to}}
</li>
<li>
    {{#link-to 'static.honolulu'}}Honolulu{{/link-to}}
</li>

</ul>
{{outlet}}
 --}}
