<div class="controller-wrapper">
  <div class="controller">
    The controller: {{controller}}
  </div>
</div>

<div id="ember584" class="ember-view"><section role="main" id="bg" class="bg" style="background-image: url(http://ppcdn.500px.org/29263517/c29dd7cf389a16cd11656aaf7885cd37ef4f13d3/5.jpg); -webkit-filter: blur(12px); opacity: 1;"></section>

<div class="weather-panel bg" style="background-image: url(http://ppcdn.500px.org/29263517/c29dd7cf389a16cd11656aaf7885cd37ef4f13d3/5.jpg);">
  <div class="small-12 columns">
    <h1>Auckland, New Zealand</h1>
  </div>
  <div class="attribution">
    photo by: © <a href="http://500px.com/" danskiedijamco="" target="_blank">Danskie Dijamco</a>
  </div>
</div>

<div class="weather-stript">
  <div id="ember597" class="ember-view"><div class="current-details">
  <div class="temp-date">
    <div class="temp">
      56.58°
    </div>
    <div class="display-date">
      May 05
    </div>
  </div>
  <div class="wind-icon">
    <div class="large-icon">
       <i aria-hidden="true" class="icon-clear-night"></i>
    </div>
    <div class="wind-direction">
      <span class="speed">
        12.87mph
      </span>
      <span class="direction">
        <div id="ember607" class="ember-view" style="-webkit-transform: rotate(305deg); transform: rotate(305deg);"><div class="weather-vane">
  <div class="circle">
    <div class="arrow"></div>
  </div>
</div>
</div>
      </span>
    </div>
  </div>
</div>
</div>
  <div class="forecast">
    <div id="ember618" class="ember-view"><ul class="no-bullet">

    <li>
      <div class="label round">
        May 05
      </div>
      <i aria-hidden="true" class="icon-partly-cloudy-night"></i>
      <span class="high"><small>high</small> 69°</span>
      <span class="low"><small>low</small> 56°</span>
    </li>

    <li>
      <div class="label round">
        May 06
      </div>
      <i aria-hidden="true" class="icon-rain"></i>
      <span class="high"><small>high</small> 67°</span>
      <span class="low"><small>low</small> 57°</span>
    </li>

    <li>
      <div class="label round">
        May 07
      </div>
      <i aria-hidden="true" class="icon-rain"></i>
      <span class="high"><small>high</small> 66°</span>
      <span class="low"><small>low</small> 57°</span>
    </li>

    <li>
      <div class="label round">
        May 08
      </div>
      <i aria-hidden="true" class="icon-rain"></i>
      <span class="high"><small>high</small> 63°</span>
      <span class="low"><small>low</small> 54°</span>
    </li>

    <li>
      <div class="label round">
        May 09
      </div>
      <i aria-hidden="true" class="icon-partly-cloudy-day"></i>
      <span class="high"><small>high</small> 64°</span>
      <span class="low"><small>low</small> 52°</span>
    </li>

    <li>
      <div class="label round">
        May 10
      </div>
      <i aria-hidden="true" class="icon-clear-day"></i>
      <span class="high"><small>high</small> 64°</span>
      <span class="low"><small>low</small> 49°</span>
    </li>

    <li>
      <div class="label round">
        May 11
      </div>
      <i aria-hidden="true" class="icon-partly-cloudy-day"></i>
      <span class="high"><small>high</small> 64°</span>
      <span class="low"><small>low</small> 49°</span>
    </li>

</ul>
</div>
  </div>
</div>
</div>
