<div class="playground">
  <div class="panel">
    <form class='signup'>
      <h1>Sign up</h1>
      <h3>and receive weather updates</h3>
      <div class='input error'>
        <input class="balloon" id="username" type="text" placeholder="Think of a great user name" />
        <label for="username">User name</label>
        <small class="error">You need a better user name, Mate</small>
      </div>
      <div class='input'>
        <input class="balloon" id="fname" type="text" placeholder="Your first name, IE: Hoser" />
        <label for="fname">First Name</label>
      </div>
      <div class='input'>
        <input class="balloon" id="email" type="email" placeholder="You must have an email address?" />
        <label for="email">Email</label>
      </div>
      <div class='input'>
        <input class="balloon" id="password" type="password" placeholder="Make up a password." />
        <label for="password">Password</label>
      </div>
      <div class='input'>
        <input class="balloon" id="phone" type="tel" placeholder="Do you have a phone?" />
        <label for="phone">Phone Number</label>
      </div>
      <div class='input'>
        <input class="balloon" id="price" type="number" placeholder="What's your price" />
        <label for="price">Contribution</label>
      </div>
      <button class="button expand">Sign up</button>
    </form>
  </div>
</div>
