{{#nav-locations
  locations=model 
  transitionToLocation="transitionToLocationHandler"
  transitionToSeachLocation="transitionToSearchedLocationHandler"}}
  {{outlet}}
{{/nav-locations}}
<section id='bg' class='bg'></section>
