<div class="playground">

  <ul class='no-bullet'>
    {{#each}}
      {{first-component title=label low=low high=high saveAction="save"}}
    {{/each}}
  </ul>



  {{#first-component title="Our component needs a title"}}the body of the element{{/first-component}}


















</div>
