<div id="ember552" class="ember-view"><section role="main" id="bg" class="bg" style="background-image: url(http://ppcdn.500px.org/50908290/37a4c1af544154c2aeb106fc68f51d20e4b595d2/5.jpg); -webkit-filter: blur(12px); opacity: 1;"></section>

<div class="weather-panel bg" style="background-image: url(http://ppcdn.500px.org/50908290/37a4c1af544154c2aeb106fc68f51d20e4b595d2/5.jpg);">
  <div class="small-12 columns">
    <h1>Seattle, Washington</h1>


      <a data-ember-action="1">Save Location</a>

  </div>
  <div class="attribution">
    photo by: © <a href="http://500px.com/" conormusgrave="" target="_blank">Conor Musgrave</a>
  </div>
</div>

<div class="weather-stript">
  <div id="ember564" class="ember-view"><div class="current-details">
  <div class="temp-date">
    <div class="temp">
      50.13°
    </div>
    <div class="display-date">
      May 05
    </div>
  </div>
  <div class="wind-icon">
    <div class="large-icon">
       <i aria-hidden="true" class="icon-rain"></i>
    </div>
    <div class="wind-direction">
      <span class="speed">
        6.11mph
      </span>
      <span class="direction">
        <div id="ember573" class="ember-view" style="-webkit-transform: rotate(205deg); transform: rotate(205deg);"><div class="weather-vane">
  <div class="circle">
    <div class="arrow"></div>
  </div>
</div>
</div>
      </span>
    </div>
  </div>
</div>
</div>
  <div class="forecast">
    <div id="ember582" class="ember-view"><ul class="no-bullet">

    <li>
      <div class="label round">
        May 05
      </div>
      <i aria-hidden="true" class="icon-rain"></i>
      <span class="high"><small>high</small> 57°</span>
      <span class="low"><small>low</small> 50°</span>
    </li>

    <li>
      <div class="label round">
        May 06
      </div>
      <i aria-hidden="true" class="icon-partly-cloudy-day"></i>
      <span class="high"><small>high</small> 61°</span>
      <span class="low"><small>low</small> 47°</span>
    </li>

    <li>
      <div class="label round">
        May 07
      </div>
      <i aria-hidden="true" class="icon-partly-cloudy-day"></i>
      <span class="high"><small>high</small> 63°</span>
      <span class="low"><small>low</small> 45°</span>
    </li>

    <li>
      <div class="label round">
        May 08
      </div>
      <i aria-hidden="true" class="icon-rain"></i>
      <span class="high"><small>high</small> 58°</span>
      <span class="low"><small>low</small> 49°</span>
    </li>

    <li>
      <div class="label round">
        May 09
      </div>
      <i aria-hidden="true" class="icon-rain"></i>
      <span class="high"><small>high</small> 60°</span>
      <span class="low"><small>low</small> 50°</span>
    </li>

    <li>
      <div class="label round">
        May 10
      </div>
      <i aria-hidden="true" class="icon-rain"></i>
      <span class="high"><small>high</small> 61°</span>
      <span class="low"><small>low</small> 46°</span>
    </li>

    <li>
      <div class="label round">
        May 11
      </div>
      <i aria-hidden="true" class="icon-rain"></i>
      <span class="high"><small>high</small> 58°</span>
      <span class="low"><small>low</small> 51°</span>
    </li>

</ul>
</div>
  </div>
</div>
</div>
</div></div>
